node_modules/
.node_modules/
.cache/
build/
.env
.idea/
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vs/
**/.vscode/
**/.history/
yarn-error.log
npm-debug.log*
dump.rdb
.npm/
**/.tsbuildinfo
generated/prisma/
